body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin:0;
}
    #calculator{
    background-color: rgb(0, 0, 15);
    max-width: 500px;
    border-radius: 20px;
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,0fr);
    gap:10px;
    padding:25px;
}
#display{
    width: 100%;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    background-color: hsl(0, 0%, 20%);
    padding:20px;
    font-size:3rem;
    color:white;

}
    button{
    width:100px;
    height:100px;
    border-radius:50px;
    background-color:rgb(70, 69, 69);
    color:white;
    cursor:pointer;
    border:none;
    font-size:50px;
    font-weight:bold;
    }
button:hover{
    background-color:hsl(0, 0%, 40%)
}
button:active{
    background-color:hsl(0,0%,50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}